# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=k+1rF77viV6udP//m2OCAw==,o64Q0EdpZ+/VMyMLR9pZkw==,EpZ5g+1MWhtZLExM7TzIzw==,Z1DYKXgx5wLNwmvE/qA/dw==
API_TOKEN_SALT=ZNOs58tkdYjfIcdVt5HCgQ==
ADMIN_JWT_SECRET=MXqy7EHlq0r+I9qrcO7Nig==
TRANSFER_TOKEN_SALT=0CLSP9F1HGMlF61gEN3EVg==
ENCRYPTION_KEY=LKa2TRzMzn0lR598jpp0XQ==

JWT_SECRET=CsaXM9R0SdL2k7dYf3NOaA==

# Database (Railway Hosted DB)
DATABASE_CLIENT=postgres
DATABASE_HOST=turntable.proxy.rlwy.net
DATABASE_PORT=17292
DATABASE_NAME=railway
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=rsCiTDUMFcfedLDfIJZDZhCvSOCcmsMb
DATABASE_SSL=true
DATABASE_SCHEMA=public

# SMTP Email Configuration
SMTP_HOST=anarish.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=mail@anarish.com
SMTP_PASS=Anarish@123
SMTP_FROM=mail@anarish.com
SMTP_FROM_NAME=Anarish
HR_EMAIL=charu.maheshwari@anarish.com